<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
    </style>
    </head>
<body>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="col-md-6">
                    <label class="labels">Referral Code</label>
                    <!-- Display the random number in the input field -->
                    <input type="text" class="form-control" placeholder="Referral Code" th:value="${referralCode}" readonly />
                </div>

                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label>
                        <input type="text" class="form-control" placeholder="first name"  th:value="${user.firstName}"></div>
                    <div class="col-md-6"><label class="labels"> Sur Name</label><input type="text" class="form-control" placeholder="last name" th:value="${user.lastName}"></div>

<!---Modal--->
                    <div class="card-body border p-3 mt-3">
                        <li th:each="add : ${address}">
                            <h5 class="card-title">Address</h5>
                            <p class="card-text">Flat: <span th:text="${add.flat}"></span></p>
                            <p class="card-text">Area: <span th:text="${add.area}"></span></p>
                            <p class="card-text">Town: <span th:text="${add.town}"></span></p>
                            <p class="card-text">City: <span th:text="${add.city}"></span></p>
                            <p class="card-text">State: <span th:text="${add.state}"></span></p>
                            <p class="card-text">Pin: <span th:text="${add.pin}"></span></p>
                            <p class="card-text">Landmark: <span th:text="${add.landmark}"></span></p>
<!--                            <a class="edit-button" th:href="@{/user/address/update/{id}(id=${add.id})}">Edit</a>-->
                            <a class="btn btn-danger" th:href="@{/profile/deleteAddress/{addressId}(addressId = ${add.id})}">delete</a>
                            <!-- HTML link to edit address -->
                            <a class="btn btn-danger" th:href="@{/profile/edit/{addressId}(addressId=${add.id})}">Edit</a>
<!--                            <div class="form-check form-switch">-->
<!--                                <input class="form-check-input" type="checkbox" th:id="'flexSwitchCheckDefault-' + ${add.id}" th:value="${add.id}" onchange="setDefaultAddress(this)"/>-->

<!--                                <label class="form-check-label">Default switch checkbox input</label>-->
<!--                            </div>-->

                        </li>

                        </ul>


                    </div>
                <div class="row mt-3">
<!--                    <form th:action="@{/admin/manage/updateUserById/{id}(id=${user.id})}" th:method="post"  th:object="${user}">-->
<!--                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Edit</button></div>-->

<!--                            <div th:each="add : ${address}">-->

<!--                           <div class="col-md-12">-->
<!--                            <label class="labels">Address Line 1</label>-->
<!--                                    <input type="text" class="form-control" placeholder="enter address line 1" readonly th:value="${add.flat}">-->
<!--                                </div>-->
<!--                                <div class="col-md-12">-->
<!--                                    <label class="labels">Address Line 2</label>-->
<!--                                    <input type="text" class="form-control" placeholder="enter address line6 2" readonly th:value="${add.area}">-->
<!--                                </div>-->
<!--                                <div class="col-md-12">-->
<!--                                    <label class="labels">Postcode</label>-->
<!--                                    <input type="text" class="form-control" placeholder="enter address line 2"readonly th:value="${add.pin}">-->
<!--                                </div>-->
<!--                                <div class="col-md-12">-->
<!--                                    <label class="labels">State</label>-->
<!--                                    <input type="text" class="form-control" placeholder="enter address line 2" readonly th:value="${add.state}">-->
<!--                                </div>-->
<!--                                <div class="col-md-12">-->
<!--                                    <label class="labels">Area</label>-->
<!--                                    <input type="text" class="form-control" placeholder="enter address line 2" readonly th:value="${add.city}">-->
<!--                                </div>-->
<!--                                <div class="col-md-12">-->
<!--                                    <label class="labels">Email ID</label>-->
<!--                                    <input type="text" class="form-control" placeholder="enter email id" readonly th:value="${add.user.email}">-->
<!--                                </div>-->

<!--                                <div class="col-md-12">-->
<!--                                    <label class="labels">Education</label>-->
<!--                                    <input type="text" class="form-control" placeholder="education"readonly  th:value="${add.landmark}">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->


<!--                        &lt;!&ndash;                    <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" th:value="${user.email}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value=""></div>&ndash;&gt;-->
<!--                </div>-->

<!--                <div class="row mt-3">$-->
<!--                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>-->
<!--                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>-->
<!--                </div>-->
                    <div class="mt-5 text-center">
                        <div class="row" th:if="${#lists.size(address) < 3}">
                            <div class="col-md-12">
                                <form action="/user/edit/{id}" method="get">
                                </form>
                            </div>
<!--                        <button class="btn btn-primary profile-button" type="button">Edit</button>-->
                    </div>
                    <div class="row" th:if="${#lists.size(address) < 3}">
                        <div class="col-md-12">
                            <form action="/user/address/add" method="get">
                                <button class="btn btn-primary" type="submit">Add Address</button>
                            </form>
                        </div>
                    </div>

                    <!--                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Add Address</button></div>-->
            </div>

<!--            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Delete</button></div>-->
<!--        </div>-->
        </div>
<!--        <div class="col-md-4">-->
<!--            <div class="p-3 py-5">-->
<!--                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>-->
<!--                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>-->
<!--                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
</div>
</div>
</body>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
</script>
<script>
    $(document).ready(function () {
        $('input[type=checkbox]').on('change', function () {
            var addressId = $(this).val();
            setDefaultAddress(addressId);
        });
    });

    function setDefaultAddress(addressId) {
        var csrfToken = $("meta[name='_csrf']").attr("content"); // Get CSRF token from meta tag
        var csrfHeader = $("meta[name='_csrf_header']").attr("content"); // Get CSRF header from meta tag

        $.ajax({
            url: '/profile/setDefaultAddress/' + addressId,
            type: 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken); // Include CSRF token in headers
            },
            success: function(data) {
                console.log('Default address updated successfully');
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Default address updated successfully',
                });
            },
            error: function(error) {
                console.error('Error updating default address: ' + error);
            }
        });
    }
</script>







</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
</html>